.carousel-card-container {
    height: 100%;
    width: 100%;
}

.carousel-card-img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-card-container .p-carousel-next {
    width: auto;
    margin: 0;
    margin-left: 2px;
}
.carousel-card-container .p-carousel-prev {
    width: auto;
    margin: 0;
    margin-right: 2px;
}