.generic-button {
    background-color: var(--theme-button-background-color);
    border: 1px solid var(--theme-button-background-color);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    font-size: var(--text-smallest-size);
    padding: var(--spacing-1-5);
}

.generic-button:hover {
    background-color: var(--theme-button-hover-color);
}

.generic-button.secondary {
    background-color: var(--theme-button-secondary-background-color);
    border: 1px solid var(--theme-primary-border);
    color: #000000;
}

.generic-button.secondary:hover {
    background-color:  var(--theme-button-secondary-hover-background-color);
}

.generic-button-icon {
    font-size: var(--text-tiny-size);
}