.coverage-mini-card {
    background-color: var(--theme-secondary-background);
    border: 1px solid var(--theme-secondary-border);
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.coverage-mini-card-icon-container {
    height: 25px;
    width: 25px;
    background-color: var(--theme-primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverage-mini-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.coverage-mini-card-title {
    font-size: var(--text-smallest-size);
    font-weight: 600;
    text-align: center;
}

.coverage-mini-card-subtitle {
    font-size: var(--text-tiny-size);
    color: var(--theme-text-secondary-color);
    font-weight: 600;
    text-align: center;
}