.coverage-mini-card {
    background-color: var(--theme-secondary-background);
    border: 1px solid var(--theme-primary-border);
    border-radius: 10px;
    padding-block: 0.333rem;
    padding-inline: .125rem;
    display: flex;
    flex-direction: column;
    gap: 0.333rem;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.coverage-mini-card:hover {
    background-color: var(--theme-secondary-background-hover);
}

.coverage-mini-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.coverage-mini-card-title {
    font-size: var(--text-smallest-size);
    font-weight: 600;
    text-align: center;
}

.coverage-mini-card-subtitle {
    font-size: var(--text-tiny-size);
    color: var(--theme-text-secondary-color);
    font-weight: 600;
    text-align: center;
}