.life-insurance-primary-coverages-card-content {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    column-gap: 0.9rem;
    row-gap: 0.225rem;
}

.life-insurance-primary-coverage-ammount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: .7rem;
    border-bottom: 1px solid var(--theme-primary-border);
}

.life-insurance-primary-coverage-ammount-label {
    color: var(--theme-text-tertiary-color);
    font-size: var(--text-normal-size);
}

.life-insurance-primary-coverage-ammount-value {
    color: #10B981;
}

.life-insurance-primary-coverage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125rem;
    padding-block: .5rem;
    border-bottom: 1px solid var(--theme-primary-border);
    overflow: hidden;
}

.life-insurance-primary-coverage-item:last-child {
    border-bottom: none;
}

.life-insurance-primary-coverage-label {
    font-size: var(--text-small-size);
    color: var(--theme-text-tertiary-color);
}

.life-insurance-primary-coverage-value {
    font-size: var(--text-normal-size);
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}