.life-insurance-claims-card-content {
    flex-direction: column;
    height: 80%;
    gap: var(--spacing-1);
}

.life-insurance-claims-card-footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life-insurance-claims-card-footer-divider {
    margin-top: 0.333rem;
    margin-bottom: 0.75rem;
}

.life-insurance-claims-footer-button {
    color: var(--theme-primary-color);
    font-weight: 600;
    font-size: var(--text-smallest-size);
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 1s ease;
}

.life-insurance-claims-footer-button:hover {
    color: var(--theme-quinary-color);
}

.life-insurance-claims-footer-button-icon {
    font-size: var(--text-small-size);
}