.life-insurance-upselling-card {
    gap: var(--spacing-1-5);
}

.life-insurance-upselling-card-badge {
    background-color: var(--theme-quinary-color);
    border-radius: var(--border-radius-normal);
    color: #ffffff;
    font-size: var(--text-tiny-size);
    display: flex;
    align-items: center;
    margin-block: auto;
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
    font-weight: bolder;
}

.life-insurance-upselling-card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1-5);
}