.quick-actions-button {
    padding-inline: 0.333rem;
    padding-block: .955rem;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    background-color: #ffffff;
    color: var(--theme-text-secondary-color);
    display: flex;
    flex-direction: row;
    gap: 0.225rem;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-smallest-size);
}

.quick-actions-button.accent {
    background-color: var(--theme-quaternary-color);
    padding-block: 1rem;
    border: 1px solid var(--theme-quaternary-color);
    color: #ffffff;
    font-size: var(--text-small-size);
}

.quick-actions-button:hover {
    color: var(--theme-primary-color);
    border: 1px solid #e1806a;
    background-color: #e1806a;
}

.quick-actions-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
}

.quick-actions-button-icon.accent {
    width: 1.3rem;
}