.life-insurance-beneficiaries-card {
    gap: 0.5rem;
}

.life-insurance-beneficiaries-card-content {
    gap: var(--spacing-2);
    height: 100%;
}

.beneficiary-summary {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--theme-primary-border);
    align-items: center;
    border-radius: 5px;
    padding-inline: var(--spacing-2);
    padding-block: var(--spacing-1-5);
}

.beneficiary-summary-icon {
    height: 1rem;
    margin-right: 0.333rem;
}

.beneficiary-name {
    font-size: var(--text-small-size);
    color: var(--theme-text-secondary-color);
    width: 70%;
}

.beneficiary-percentage-badge {
    font-size: var(--text-tiny-size);
    background-color: #84ABF9;
    color: #ffffff;
    border-radius: 10px;
    padding-block: var(--spacing-1);
    width: 25%;
    margin-left: auto;
    text-align: center;
}