.coverage-mini-card {
    width: 7.632rem;
    min-height: 5.495rem;
    background-color: var(--theme-secondary-background);
    border: 1px solid var(--theme-primary-border);
    border-radius: 10px;
    padding-block: var(--spacing-1-5);
    padding-inline: var(--spacing-0-5);
    display: flex;
    flex-direction: column;
    gap: 0.333rem;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.coverage-mini-card:hover {
    background-color: var(--theme-secondary-background-hover);
}

.coverage-mini-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.coverage-mini-card-title {
    font-size: var(--text-smallest-size);
    font-weight: 600;
    text-align: center;
}

.coverage-mini-card-subtitle {
    font-size: var(--text-tiny-size);
    color: var(--theme-text-secondary-color);
    font-weight: 600;
    text-align: center;
}

.coverage-mini-card-icon {
    height: 2rem;
    width: 2rem;
    padding: var(--spacing-0-5);
    background-color: var(--theme-primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}