.car-coverages-card {
    padding-bottom: var(--spacing-2-5);
}

.car-coverages-card-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.car-coverages-card-coverage-card {
    height: 5.495rem;
    width: 7.632rem;
}

.car-insurance-mini-card-icon-container {
    height: 1.52rem;
    width: 1.52rem;
    background-color: var(--theme-primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-insurance-coverages-mini-card-icon {
    height: 1.2215rem;
}